<div class="row" style="height: 480px; background: #343B45; padding: 10px;" >
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="allpadding5Width">
                    <label for="" class="fontColorWhite font-weight-bold" style="font-size: 22px;">Which Seats you want to Pay?</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <input type="button" value="ENTIRE CHECK" class="btn-room btn-green btn3d width100percent font-weight-bold" (click)="entireCHECK(true);">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="allpadding5Width">
                    <label for="" class="fontColorWhite font-weight-bold" style="font-size: 22px;">Split Even by:</label>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-4">
                <div>
                    <input type="button" value="2" class="btn-pat btn-primary btn3d width100percent font-weight-bold" style="font-size: 50px;" (click)="splitBy(2);">
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <input type="button" value="3" class="btn-pat btn-primary btn3d width100percent font-weight-bold" style="font-size: 50px;" (click)="splitBy(3);">
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <input type="button" value="4" class="btn-pat btn-primary btn3d width100percent font-weight-bold" style="font-size: 50px;" (click)="splitBy(4);">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <input type="button" value="5" class="btn-pat btn-primary btn3d width100percent font-weight-bold" style="font-size: 50px;" (click)="splitBy(5);">
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <input type="button" value="6" class="btn-pat btn-primary btn3d width100percent font-weight-bold" style="font-size: 50px;" (click)="splitBy(6);">
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <input type="button" value="Enter #" class="btn-pat btn-primary btn3d width100percent font-weight-bold" (click)="splitByDialog()">
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<div class="row" style="margin-top: 15px; background: #343B45;">
    <div class="col-sm-12">
        <div class="allpadding5Width" align="center" style="font-size: 22px;">
            <label for="" class="fontColorWhite font-weight-bold">TOUCH Seats to Pay</label>
            <br />
            <label for="" class="fontColorWhite font-weight-bold">Simply TAP the Seats on the Guest</label>
            <br />
            <label for="" class="fontColorWhite font-weight-bold">Check to the RIGHT</label>
        </div>
    </div>
</div>
