<div class="container" style="width:900px;">
<div class="row">
  <div class="col-sm-6" style="border-width:4px; border-style:outset;">
    <div class="row">
      <div class="col-sm-12" style="background-color: #D2D3D4;"><h3>Transaction Details</h3></div>
      <div class="col-sm-6">Customer Name</div>
      <div class="col-sm-6"></div>
      <div class="col-sm-6">Billing Address</div>
      <div class="col-sm-6"></div>
    </div>
    <div class="row">
      <div class="col-sm-12" align="center" style="background-color: #D2D3D4;"><h3>TOTAL AMOUNT</h3></div>
      <div class="col-sm-12" align="center"><h3>$0.00</h3></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col sm-8" style="border-width:4px; border-style:outset;">
        <div class="row">        
          <div class="col-sm-6"><label>Transaction ID</label></div>
          <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Terminal ID</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Card</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Payment Type</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Entry Mode</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Sub-Total</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Cash Back</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Tip</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Total Amount</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Approved Amount</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><label>Auth #</label></div>
            <div class="col-sm-6"><label></label></div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <input type="button" class="btn-pat btn-primary btn3d allpadding5Width" value="Swipe">
      </div>
      <div class="col-sm-4">
          <input type="button" class="btn-pat btn-primary btn3d allpadding5Width" value="Print">
      </div>
      <div class="col-sm-4">
          <input type="button" class="btn-pat btn-primary btn3d allpadding5Width" value="OK">
      </div>
    </div>
  </div>
</div>
</div>