<div style="width: 550px;height: 150px;">
<div class="container">
      <div class="row" style="justify-content: center;">
        <h2>A new update is available.</h2>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-6">
          <input type="button" class="btn btn-secondary" value="REMIND ME LATER" (click)="remindLater();" style="width: 100%;">
        </div>
        <div class="col-sm-6">
          <input type="button" class="btn btn-secondary" value="QUIT & INSTALL ({{seconds}})" (click)="quitInstall();" style="width: 100%;">
        </div>
      </div>
  </div>  
</div> 
